In [1]:
import numpy as np
import pandas as pd
df = pd.DataFrame([[np.nan, 2, np.nan, 0], [3, 4, np.nan, 1], [np.nan, np.nan, np.nan, 5], 
                   [2, 1, 3, 4],[np.nan, np.nan, np.nan, np.nan]],
                  columns=list('ABCD'))
df

     A    B    C    D
0  NaN  2.0  NaN  0.0
1  3.0  4.0  NaN  1.0
2  NaN  NaN  NaN  5.0
3  2.0  1.0  3.0  4.0
4  NaN  NaN  NaN  NaN

# dropna
#### 1. 若要更新df，記得assign回df, df=df.dropna(...)
#### 2. 若要重新調整index，最後再加上.reset_index(drop=True)

In [2]:
df.dropna() #預設 dropna(axis=0, how='any', thresh=None, subset=None, inplace=False)

     A    B    C    D
3  2.0  1.0  3.0  4.0

In [3]:
df.dropna(how='all') #所有都是na才丟棄

     A    B    C    D
0  NaN  2.0  NaN  0.0
1  3.0  4.0  NaN  1.0
2  NaN  NaN  NaN  5.0
3  2.0  1.0  3.0  4.0

In [4]:
df.dropna(axis='index',how='any',subset=['B','D']) #只考慮B,D欄

     A    B    C    D
0  NaN  2.0  NaN  0.0
1  3.0  4.0  NaN  1.0
3  2.0  1.0  3.0  4.0

In [5]:
df.dropna(thresh=2) #超過(大於)2個na才丟棄

     A    B    C    D
0  NaN  2.0  NaN  0.0
1  3.0  4.0  NaN  1.0
3  2.0  1.0  3.0  4.0

# fillna

In [6]:
df

     A    B    C    D
0  NaN  2.0  NaN  0.0
1  3.0  4.0  NaN  1.0
2  NaN  NaN  NaN  5.0
3  2.0  1.0  3.0  4.0
4  NaN  NaN  NaN  NaN

In [7]:
df[['A']].fillna(np.mean(df[['A']]))

     A
0  2.5
1  3.0
2  2.5
3  2.0
4  2.5